<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <meta http-equiv = "X-UA-Compatible" content="IE=edge">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">
        <meta name = "author" content = "Jimy Houlbrook">
        <title>Infinite Monkey Conundrum</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css"></style>
    </head>
    <body>
        <h1 style="text-align: center;">The Infinite Monkey Conundrum</h1>
        <br>
        <% if(locals.mostRecent) { %>
        <div id = "fullContent" style="text-align:center ">
            <h3>In the past minute they Monkey has wrote</h3>
            <p> <%- locals.mostRecent %> </p>
        </div>
        <% } %>
        <br/>
        <div id = "fullContent">
            <p> <%- locals.letters %> </p>
        </div>
    </body>
</html>