<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <meta http-equiv = "X-UA-Compatible" content="IE=edge">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">
        <meta name = "author" content = "Jimy Houlbrook">
        <title>Infinite Monkey Conundrum</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1 style="text-align: center;">The Infinite Monkey Conundrum</h1>
        <p id = "content" style="font-size: 20px"> <%= letters %></p>
    </body>
</html>