body{
    background-color: rgb(90, 90, 90);
    color: white;
}

#fullContent{
    background-color: rgb(91, 91, 91);
    margin: auto;
    width: 60%;
    overflow-x: auto;
    overflow-wrap: anywhere;
    padding: 5px;
    word-break: break-all;
    font-size: 20px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#fulllContent.p{
    text-align: left;
    overflow-x: auto;
    overflow-wrap: anywhere;
    word-break: break-all;
    font-size: 50px;
}

.word {
    background-color: blue;
}
